DATABASE_NAME=BDCRM
DATABASE_USER=postgres
DATABASE_PASSWORD=your-password
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
CONTACTS_DATABASE_NAME=BDCRM
CONTACTS_DATABASE_USER=postgres
CONTACTS_DATABASE_PASSWORD=your-password
CONTACTS_DATABASE_HOST=127.0.0.1
CONTACTS_DATABASE_PORT=5432
